doctype html
html
    head
        meta(charset="utf-8")
        title
        style.
            a{
                display: block;
            }
    body
        each item in files
            a(href=dir +"/"+ item)= item