doctype html
html
    head
        title
    body
        div
            a(
                href="#",
                class="damu",
                style={
                    color:'red',
                    background:'green'
                }
            )
        div#test
        div.test
        div&attributes({'data-foo': 'bar'})
        div(data-bar="foo")