<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .text{
            font-size: 20px;
            opacity: 1;
            color: red;
        }
    </style>
    <script src="./src/vue.js"></script>
</head>
<body>
    <div id="app">
        <!--
            number
            lazy
            trim
        -->
        <input type="text" v-model.number="message" placeholder="edit me">
        {{message}}

        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>

        <div id='example-3'>
            <input type="checkbox" id="jack" value="Jack1" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John1" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike1" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>

        <div id="example-4">
            <input  type="radio" id="one" value="One" v-model="picked">
            <label for="one">One</label>
            <br>
            <input  type="radio" id="two" value="Two" v-model="picked">
            <label for="two">Two</label>
            <br>
            <span>Picked: {{ picked }}</span>
        </div>

        <div id="example-5">
            <select v-model="selected">
                <option disabled value="">请选择</option>
                <option value="a">A</option>
                <option value="b">B</option>
                <option value="c">C</option>
            </select>
            <span>Selected: {{ selected }}</span>
        </div>

        <div id="example-6">
            <select v-model="selected" multiple style="width: 50px;">
                <option>A</option>
                <option>B</option>
                <option>C</option>
            </select>
            <br>
            <span>Selected: {{ selected }}</span>
        </div>
    </div>
</body>
<script>
    Vue.config.productionTip = false
    var vm = new Vue({
        el:"#app",
        data:{
            message:"123",
            checked:true,
            checkedNames:["Jack1"],
            picked:"One",
            selected:["A","B","C"]
        }
    })
</script>
</html>