doctype html
html(lang="en")
    head
        title helloWorld
        meta(charset="UTF-8")
    body
        -var arr =[1,2,3,4,5]
        mixin damuUl(arg)
            p= arg
            if block
                block
            else
                p no block

        +damuUl("aaa")
            p im block
