doctype html
html(lang="en")
    head
        title helloWorld
    body
        h1 helloWorld
        a(
            href="www.baidu.com",
            data-damu="达姆",
            name="a"
        )
        div(style={color:"pink","font-size":"30px"})
        div&attributes({'data-foo': 'bar'})
        #test
        div#app.test.test2
