doctype html
html(lang="en")
    head
        title helloWorld
        meta(charset="UTF-8")
    body
        div 我是一个快乐的div <span>xxx</span>
            <span>yyy</span>
        h1  helloWorld1
            |helloWorld2
            |helloWorld3<span>xxx</span>
        h2.
            helloWorld
            helloWorld
            helloWorld<span>xxx</span>
            helloWorld
    script.
        if(true){
            console.log("这是一段脚本");
        }
