doctype html
html(lang="en")
    head
        title helloWorld
        meta(charset="UTF-8")
    body
        //abc
        //-a(
            href="www.baidu.com",
            data-damu="达姆",
            name="a"
            )
        //- abc
